# Git Attributes

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dotx diff=astextplain
*.DOTX diff=astextplain
*.xlsx diff=astextplain
*.XLSX diff=astextplain
*.xltx diff=astextplain
*.XLTX diff=astextplain

# Markdown
*.md     text eol=lf
*.markdown text eol=lf

# YAML
*.yml    text eol=lf
*.yaml   text eol=lf

# JSON
*.json   text eol=lf

# Go
*.go     text eol=lf

# TypeScript/JavaScript
*.ts     text eol=lf
*.tsx    text eol=lf
*.js     text eol=lf
*.jsx    text eol=lf

# Python
*.py     text eol=lf

# PHP
*.php    text eol=lf